In [3]:
import pandas as pd
import requests
from pprint import pprint
from fouronetwo import Fetch
fetch = Fetch()

In [4]:
# fetch.completed_games(year = 2024, week=1)
# fetch.scheduled_games(year = 2024, week=18)
# fetch.in_progress_games(year = 2024, week=1)
#fetch.completed_games(year=2024, team = 'Pittsburgh Steelers')
#data = fetch.boxscore(year=2023, team='Pittsburgh Steelers')
#fetch.passing_boxscore(year=2024, pivot=True)
#fetch.rushing_boxscore(year=2024, pivot=True)
#fetch.receiving_boxscore(year=2024, pivot=True)
#fetch.fumble_boxscore(year=2024, pivot=True)
#fetch.defensive_boxscore(year=2024, pivot=True)
#fetch.interception_boxscore(year=2024, pivot=True)
#fetch.kick_return_boxscore(year=2024)
#fetch.punt_return_boxscore(year=2024, pivot=True)

In [5]:
fetch.field_goal_boxscore(year=2024, pivot=True)

/Users/andrewpaladino/Documents/projects/412analytics/fouronetwo.py:94: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  total_completed = pd.concat([events_merged, total_completed])
100%|██████████| 33/33 [00:09<00:00,  3.55it/s]

,name_,field_goals_made_mean,field_goals_made_sum,field_goals_attempted_mean,field_goals_attempted_sum,field_goal_%_mean,long_field_goal_mean,long_field_goal_sum,extra_points_made_mean,extra_points_made_sum,extra_points_attempted_mean,extra_points_attempted_sum,extra_point_%_mean,total_kicking_points_mean,total_kicking_points_sum
0,Austin Seibert,7.000000,7,7.000000,7,100.0,45.000000,45,0.000000,0,0.000000,0,NaN,21.000000,21
1,Blake Grupe,2.500000,5,2.500000,5,100.0,41.500000,83,5.000000,10,5.500000,11,0.916667,12.500000,25
2,Brandon Aubrey,4.000000,8,4.000000,8,100.0,54.500000,109,2.000000,4,2.000000,4,1.000000,14.000000,28
3,Brayden Narveson,3.000000,6,4.000000,8,75.0,38.500000,77,1.500000,3,1.500000,3,1.000000,10.500000,21
4,Cade York,0.000000,0,2.000000,2,0.0,0.000000,0,2.000000,2,2.000000,2,1.000000,2.000000,2
5,Cairo Santos,2.500000,5,2.500000,5,100.0,52.000000,104,1.000000,2,1.000000,2,1.000000,8.500000,17
6,Cam Little,1.500000,3,2.000000,4,83.5,39.000000,78,1.500000,3,1.500000,3,1.000000,6.000000,12
7,Cameron Dicker,2.500000,5,2.500000,5,100.0,49.500000,99,1.500000,3,2.000000,4,0.833333,9.000000,18
8,Chase McLaughlin,2.500000,5,2.500000,5,100.0,55.500000,111,3.000000,6,3.000000,6,1.000000,10.500000,21
9,Chris Boswell,4.000000,8,4.000000,8,100.0,55.000000,110,0.500000,1,0.500000,1,1.000000,12.500000,25
10,Daniel Carlson,2.500000,5,3.000000,6,75.0,42.500000,85,1.500000,3,1.500000,3,1.000000,9.000000,18
11,Dustin Hopkins,2.000000,4,2.000000,4,100.0,52.000000,104,1.500000,3,1.500000,3,1.000000,7.500000,15
12,Eddy Pineiro,1.000000,2,1.000000,2,100.0,40.500000,81,0.500000,1,0.500000,1,1.000000,3.500000,7
13,Evan McPherson,2.500000,5,2.500000,5,100.0,52.000000,104,1.000000,2,1.500000,3,0.750000,8.500000,17
14,Graham Gano,2.000000,2,2.000000,2,100.0,50.000000,50,0.000000,0,0.000000,0,NaN,6.000000,6
15,Greg Zuerlein,0.666667,2,1.000000,3,50.0,20.333333,61,2.333333,7,2.333333,7,1.000000,4.333333,13
16,Harrison Butker,2.000000,4,2.000000,4,100.0,41.500000,83,2.500000,5,2.500000,5,1.000000,8.500000,17
17,Jake Bates,2.500000,5,2.500000,5,100.0,33.500000,67,1.500000,3,1.500000,3,1.000000,9.000000,18
18,Jake Elliott,2.000000,4,2.000000,4,100.0,33.500000,67,2.500000,5,2.500000,5,1.000000,8.500000,17
19,Jake Moody,3.500000,7,3.500000,7,100.0,42.000000,84,2.000000,4,2.000000,4,1.000000,12.500000,25
20,Jamie Gillan,0.000000,0,0.000000,0,0.0,0.000000,0,0.000000,0,1.000000,1,0.000000,0.000000,0
21,Jason Myers,2.500000,5,2.500000,5,100.0,47.000000,94,2.000000,4,2.000000,4,1.000000,9.500000,19
22,Jason Sanders,1.500000,3,2.000000,4,83.5,43.000000,86,1.500000,3,1.500000,3,1.000000,6.000000,12
23,Joey Slye,2.000000,6,2.333333,7,89.0,36.666667,110,1.000000,3,1.000000,3,1.000000,7.000000,21
24,Joshua Karty,1.500000,3,1.500000,3,100.0,35.000000,70,1.500000,3,1.500000,3,1.000000,6.000000,12
25,Justin Tucker,2.500000,5,3.500000,7,71.0,40.000000,80,2.000000,4,2.000000,4,1.000000,9.500000,19
26,Ka'imi Fairbairn,3.500000,7,3.500000,7,100.0,55.000000,110,1.500000,3,1.500000,3,1.000000,12.000000,24
27,Matt Gay,1.000000,1,2.000000,2,50.0,34.000000,34,1.000000,1,1.000000,1,1.000000,4.000000,4
28,Matt Prater,2.000000,4,2.000000,4,100.0,44.000000,88,3.500000,7,3.500000,7,1.000000,9.500000,19
29,Nick Folk,1.000000,2,1.000000,2,100.0,40.500000,81,2.000000,4,2.000000,4,1.000000,5.000000,10
30,Spencer Shrader,0.000000,0,0.000000,0,0.0,0.000000,0,3.000000,3,3.000000,3,1.000000,3.000000,3
31,Tyler Bass,1.500000,3,2.000000,4,75.0,41.000000,82,4.000000,8,4.000000,8,1.000000,8.500000,17
32,Wil Lutz,2.500000,5,2.500000,5,100.0,40.000000,80,0.500000,1,0.500000,1,1.000000,8.000000,16
33,Will Reichard,1.500000,3,1.500000,3,50.0,19.500000,39,3.000000,6,3.000000,6,1.000000,7.500000,15
34,Younghoe Koo,2.000000,4,2.000000,4,100.0,31.500000,63,1.000000,2,1.000000,2,1.000000,7.000000,14