In [1]:
import pandas as pd
import requests
from pprint import pprint
from fouronetwo import Fetch
fetch = Fetch()

In [2]:
# fetch.completed_games(year = 2024, week=1)
# fetch.scheduled_games(year = 2024, week=18)
# fetch.in_progress_games(year = 2024, week=1)
#fetch.completed_games(year=2024, team = 'Pittsburgh Steelers')
#data = fetch.boxscore(year=2023, team='Pittsburgh Steelers')
#fetch.passing_boxscore(year=2024, pivot=True)
#fetch.rushing_boxscore(year=2024, pivot=True)
#fetch.receiving_boxscore(year=2024, pivot=True)
#fetch.fumble_boxscore(year=2024, pivot=True)
#fetch.defensive_boxscore(year=2024, pivot=True)
#fetch.interception_boxscore(year=2024, pivot=True)
#fetch.kick_return_boxscore(year=2024)

In [3]:
fetch.punt_return_boxscore(year=2024, pivot=True)

/Users/andrewpaladino/Documents/projects/412analytics/fouronetwo.py:94: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  total_completed = pd.concat([events_merged, total_completed])
100%|██████████| 33/33 [00:10<00:00,  3.21it/s]

,name_,punt_returns_mean,punt_returns_sum,punt_return_yards_mean,punt_return_yards_sum,yards_per_punt_return_mean,longest_punt_return_mean,longest_punt_return_sum,punt_return_touchdowns_mean,punt_return_touchdowns_sum
0,Avery Williams,1.500000,3,19.500000,39,12.500000,19.500000,39,0.0,0
1,Brandon Codrington,1.000000,1,7.000000,7,7.000000,7.000000,7,0.0,0
2,Brandon Powell,1.000000,2,5.000000,10,5.000000,5.000000,10,0.0,0
3,Braxton Berrios,2.000000,2,2.000000,2,1.000000,7.000000,7,0.0,0
4,Britain Covey,1.000000,1,9.000000,9,9.000000,9.000000,9,0.0,0
5,Calvin Austin III,4.500000,9,37.000000,74,8.600000,15.000000,30,0.0,0
6,Cedrick Wilson Jr.,1.000000,1,0.000000,0,0.000000,0.000000,0,0.0,0
7,Charlie Jones,2.500000,5,15.500000,31,7.250000,9.500000,19,0.0,0
8,Darius Slayton,1.000000,1,0.000000,0,0.000000,0.000000,0,0.0,0
9,DeAndre Carter,3.000000,6,32.500000,65,6.900000,10.500000,21,0.0,0
10,Dee Williams,1.500000,3,19.000000,38,9.500000,11.500000,23,0.0,0
11,Deonte Harty,1.000000,2,9.000000,18,9.000000,9.000000,18,0.0,0
12,Derius Davis,1.000000,2,12.000000,24,12.000000,12.000000,24,0.0,0
13,Devin Duvernay,1.000000,2,5.500000,11,5.500000,5.500000,11,0.0,0
14,Greg Dortch,1.500000,3,18.000000,36,10.500000,11.500000,23,0.0,0
15,Jacob Cowing,1.500000,3,7.500000,15,3.750000,4.000000,8,0.0,0
16,Jaelon Darden,5.000000,5,72.000000,72,14.400000,28.000000,28,0.0,0
17,James Proche II,3.000000,3,25.000000,25,8.300000,14.000000,14,0.0,0
18,Jayden Reed,1.000000,1,0.000000,0,0.000000,0.000000,0,0.0,0
19,Jha'Quan Jackson,4.500000,9,33.500000,67,7.450000,15.000000,30,0.0,0
20,KaVontae Turpin,5.000000,5,96.000000,96,19.200000,60.000000,60,1.0,1
21,Kalif Raymond,3.000000,6,25.000000,50,8.350000,12.000000,24,0.0,0
22,Kyren Williams,1.000000,2,6.000000,12,6.000000,6.000000,12,0.0,0
23,Marcus Jones,1.666667,5,15.333333,46,9.333333,11.000000,33,0.0,0
24,Marvin Mims Jr.,4.000000,8,33.500000,67,8.050000,13.500000,27,0.0,0
25,Mecole Hardman,2.000000,2,13.000000,13,6.500000,11.000000,11,0.0,0
26,Olamide Zaccheaus,1.000000,1,24.000000,24,24.000000,24.000000,24,0.0,0
27,Raheem Blackshear,1.000000,1,13.000000,13,13.000000,13.000000,13,0.0,0
28,Rashid Shaheed,3.000000,3,60.000000,60,20.000000,47.000000,47,0.0,0
29,Steven Sims,3.000000,3,11.000000,11,3.700000,11.000000,11,0.0,0
30,Tre Tucker,2.500000,5,22.000000,44,9.650000,14.500000,29,0.0,0
31,Trey Palmer,1.000000,1,15.000000,15,15.000000,15.000000,15,0.0,0
32,Tyreek Hill,1.000000,1,11.000000,11,11.000000,11.000000,11,0.0,0
33,Xavier Gipson,2.666667,8,22.000000,66,7.500000,14.666667,44,0.0,0